*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
}

main{
    height: calc(100vh - 100px);
    background-color: #1E2D3B;
}


#containerCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    padding: 0 15%;
}
#containerCards .card{
    background-color: #2E3A46;
    width: 18%;
    min-width: 180px;
    text-align: center;
}
#containerCards .card img{
    width: 80%;
    margin: 10%;
}
#containerCards .card h1{
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#containerCards .card h2, h3{
    color: #807872;
    font-size: 1em;
}
#containerCards .card h3{
    margin-bottom: 20px;
}